In [1]:
import pandas as pd

df = pd.read_csv('resources/week-2/datasets/Admission_Predict.csv', index_col = 0)

df.columns = [x.lower().strip() for x in df.columns]

df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [2]:
admit_mask = df['chance of admit'] > 0.7
admit_mask

Serial No.
1       True
2       True
3       True
4       True
5      False
       ...
396     True
397     True
398     True
399    False
400     True
Name: chance of admit, Length: 400, dtype: bool

In [3]:
df.where(admit_mask).head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
2,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76
3,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
4,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.where(admit_mask).dropna().head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
2,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76
3,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
4,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
6,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90

In [5]:
df[df['chance of admit'] > 0.7].head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
6,330,115,5,4.5,3.0,9.34,1,0.90

In [6]:
df[['gre score', 'toefl score']].head()

            gre score  toefl score
Serial No.
1                 337          118
2                 324          107
3                 316          104
4                 322          110
5                 314          103

In [7]:
df[df['gre score'] > 320].head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
4,322,110,3,3.5,2.5,8.67,1,0.80
6,330,115,5,4.5,3.0,9.34,1,0.90
7,321,109,3,3.0,4.0,8.20,1,0.75

In [8]:
(df['chance of admit'] > 0.7) & (df['chance of admit'] < 0.9)

Serial No.
1      False
2       True
3       True
4       True
5      False
       ...
396     True
397     True
398    False
399    False
400    False
Name: chance of admit, Length: 400, dtype: bool

In [9]:
df['chance of admit'].gt(0.7) & df['chance of admit'].lt(0.9)

Serial No.
1      False
2       True
3       True
4       True
5      False
       ...
396     True
397     True
398    False
399    False
400    False
Name: chance of admit, Length: 400, dtype: bool

In [10]:
df['chance of admit'].gt(0.7).lt(0.9)

Serial No.
1      False
2      False
3      False
4      False
5       True
       ...
396    False
397    False
398    False
399     True
400    False
Name: chance of admit, Length: 400, dtype: bool

In [12]:
df[(df['toefl score'] > 105) & (df['toefl score'] < 115)]

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
2,324,107,4,4.0,4.5,8.87,1,0.76
4,322,110,3,3.5,2.5,8.67,1,0.80
7,321,109,3,3.0,4.0,8.20,1,0.75
10,323,108,3,3.5,3.0,8.60,0,0.45
11,325,106,3,3.5,4.0,8.40,1,0.52
12,327,111,4,4.0,4.5,9.00,1,0.84
13,328,112,4,4.0,4.5,9.10,1,0.78
14,307,109,3,4.0,3.0,8.00,1,0.62
17,317,107,3,4.0,3.0,8.70,0,0.66
18,319,106,3,4.0,3.0,8.00,1,0.65
19,318,110,3,4.0,3.0,8.80,0,0.63
21,312,107,3,3.0,2.0,7.90,1,0.64
22,325,114,4,3.0,2.0,8.40,0,0.70
27,322,109,5,4.5,3.5,8.80,0,0.76
34,340,114,5,4.0,4.0,9.60,1,0.90
35,331,112,5,4.0,5.0,9.80,1,0.94
36,320,110,5,5.0,5.0,9.20,1,0.88
37,299,106,2,4.0,4.0,8.40,0,0.64
40,307,108,2,4.0,3.5,7.70,0,0.48
41,308,110,3,3.5,3.0,8.00,1,0.46
43,313,107,2,2.5,2.0,8.50,1,0.53
45,326,113,5,4.5,4.0,9.40,1,0.91
46,322,110,5,5.0,4.0,9.10,1,0.88
47,329,114,5,4.0,5.0,9.30,1,0.86
49,321,110,3,3.5,5.0,8.85,1,0.82
50,327,111,4,3.0,4.0,8.40,1,0.78
54,324,112,4,4.0,2.5,8.10,1,0.72
55,322,110,3,3.0,3.5,8.00,0,0.70
64,315,107,2,4.0,3.0,8.50,1,0.56
65,325,111,3,3.0,3.5,8.70,0,0.52
...,...,...,...,...,...,...,...,...
323,314,107,2,2.5,4.0,8.27,0,0.72
329,324,112,4,4.0,3.5,8.77,1,0.80
331,327,113,3,3.5,3.0,8.66,1,0.80
333,308,106,3,3.5,2.5,8.21,1,0.75
334,319,108,3,3.0,3.5,8.54,1,0.71
335,312,107,4,4.5,4.0,8.65,1,0.73
336,325,111,4,4.0,4.5,9.11,1,0.83
337,319,110,3,3.0,2.5,8.79,0,0.72
339,323,108,5,4.0,4.0,8.74,1,0.81
340,324,107,5,3.5,4.0,8.66,1,0.81
341,312,107,3,3.0,3.0,8.46,1,0.75
342,326,110,3,3.5,3.5,8.76,1,0.79
343,308,106,3,3.0,3.0,8.24,0,0.58
351,318,107,3,3.0,3.5,8.27,1,0.74
352,325,110,4,3.5,4.0,8.67,1,0.73
356,317,106,2,2.0,3.5,8.12,0,0.73
357,327,109,3,3.5,4.0,8.77,1,0.79
360,321,107,2,2.0,1.5,8.44,0,0.81
361,322,110,3,4.0,5.0,8.64,1,0.85
366,330,114,4,4.5,3.0,9.17,1,0.86
372,324,110,3,3.5,3.0,9.22,1,0.89
374,321,109,3,3.0,3.0,8.54,1,0.79
383,324,110,4,4.5,4.0,9.15,1,0.82
385,340,113,4,5.0,5.0,9.74,1,0.96
390,320,108,3,3.5,4.0,8.44,1,0.76
392,318,106,3,2.0,3.0,8.65,0,0.71
393,326,112,4,4.0,3.5,9.12,1,0.84
395,329,111,4,4.5,4.0,9.23,1,0.89
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84

In [13]:

df[df['toefl score'].gt(105) & df['toefl score'].lt(115)]

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
2,324,107,4,4.0,4.5,8.87,1,0.76
4,322,110,3,3.5,2.5,8.67,1,0.80
7,321,109,3,3.0,4.0,8.20,1,0.75
10,323,108,3,3.5,3.0,8.60,0,0.45
11,325,106,3,3.5,4.0,8.40,1,0.52
12,327,111,4,4.0,4.5,9.00,1,0.84
13,328,112,4,4.0,4.5,9.10,1,0.78
14,307,109,3,4.0,3.0,8.00,1,0.62
17,317,107,3,4.0,3.0,8.70,0,0.66
18,319,106,3,4.0,3.0,8.00,1,0.65
19,318,110,3,4.0,3.0,8.80,0,0.63
21,312,107,3,3.0,2.0,7.90,1,0.64
22,325,114,4,3.0,2.0,8.40,0,0.70
27,322,109,5,4.5,3.5,8.80,0,0.76
34,340,114,5,4.0,4.0,9.60,1,0.90
35,331,112,5,4.0,5.0,9.80,1,0.94
36,320,110,5,5.0,5.0,9.20,1,0.88
37,299,106,2,4.0,4.0,8.40,0,0.64
40,307,108,2,4.0,3.5,7.70,0,0.48
41,308,110,3,3.5,3.0,8.00,1,0.46
43,313,107,2,2.5,2.0,8.50,1,0.53
45,326,113,5,4.5,4.0,9.40,1,0.91
46,322,110,5,5.0,4.0,9.10,1,0.88
47,329,114,5,4.0,5.0,9.30,1,0.86
49,321,110,3,3.5,5.0,8.85,1,0.82
50,327,111,4,3.0,4.0,8.40,1,0.78
54,324,112,4,4.0,2.5,8.10,1,0.72
55,322,110,3,3.0,3.5,8.00,0,0.70
64,315,107,2,4.0,3.0,8.50,1,0.56
65,325,111,3,3.0,3.5,8.70,0,0.52
...,...,...,...,...,...,...,...,...
323,314,107,2,2.5,4.0,8.27,0,0.72
329,324,112,4,4.0,3.5,8.77,1,0.80
331,327,113,3,3.5,3.0,8.66,1,0.80
333,308,106,3,3.5,2.5,8.21,1,0.75
334,319,108,3,3.0,3.5,8.54,1,0.71
335,312,107,4,4.5,4.0,8.65,1,0.73
336,325,111,4,4.0,4.5,9.11,1,0.83
337,319,110,3,3.0,2.5,8.79,0,0.72
339,323,108,5,4.0,4.0,8.74,1,0.81
340,324,107,5,3.5,4.0,8.66,1,0.81
341,312,107,3,3.0,3.0,8.46,1,0.75
342,326,110,3,3.5,3.5,8.76,1,0.79
343,308,106,3,3.0,3.0,8.24,0,0.58
351,318,107,3,3.0,3.5,8.27,1,0.74
352,325,110,4,3.5,4.0,8.67,1,0.73
356,317,106,2,2.0,3.5,8.12,0,0.73
357,327,109,3,3.5,4.0,8.77,1,0.79
360,321,107,2,2.0,1.5,8.44,0,0.81
361,322,110,3,4.0,5.0,8.64,1,0.85
366,330,114,4,4.5,3.0,9.17,1,0.86
372,324,110,3,3.5,3.0,9.22,1,0.89
374,321,109,3,3.0,3.0,8.54,1,0.79
383,324,110,4,4.5,4.0,9.15,1,0.82
385,340,113,4,5.0,5.0,9.74,1,0.96
390,320,108,3,3.5,4.0,8.44,1,0.76
392,318,106,3,2.0,3.0,8.65,0,0.71
393,326,112,4,4.0,3.5,9.12,1,0.84
395,329,111,4,4.5,4.0,9.23,1,0.89
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84

In [14]:

df[(df['toefl score'].isin(range(106, 115)))]

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
2,324,107,4,4.0,4.5,8.87,1,0.76
4,322,110,3,3.5,2.5,8.67,1,0.80
7,321,109,3,3.0,4.0,8.20,1,0.75
10,323,108,3,3.5,3.0,8.60,0,0.45
11,325,106,3,3.5,4.0,8.40,1,0.52
12,327,111,4,4.0,4.5,9.00,1,0.84
13,328,112,4,4.0,4.5,9.10,1,0.78
14,307,109,3,4.0,3.0,8.00,1,0.62
17,317,107,3,4.0,3.0,8.70,0,0.66
18,319,106,3,4.0,3.0,8.00,1,0.65
19,318,110,3,4.0,3.0,8.80,0,0.63
21,312,107,3,3.0,2.0,7.90,1,0.64
22,325,114,4,3.0,2.0,8.40,0,0.70
27,322,109,5,4.5,3.5,8.80,0,0.76
34,340,114,5,4.0,4.0,9.60,1,0.90
35,331,112,5,4.0,5.0,9.80,1,0.94
36,320,110,5,5.0,5.0,9.20,1,0.88
37,299,106,2,4.0,4.0,8.40,0,0.64
40,307,108,2,4.0,3.5,7.70,0,0.48
41,308,110,3,3.5,3.0,8.00,1,0.46
43,313,107,2,2.5,2.0,8.50,1,0.53
45,326,113,5,4.5,4.0,9.40,1,0.91
46,322,110,5,5.0,4.0,9.10,1,0.88
47,329,114,5,4.0,5.0,9.30,1,0.86
49,321,110,3,3.5,5.0,8.85,1,0.82
50,327,111,4,3.0,4.0,8.40,1,0.78
54,324,112,4,4.0,2.5,8.10,1,0.72
55,322,110,3,3.0,3.5,8.00,0,0.70
64,315,107,2,4.0,3.0,8.50,1,0.56
65,325,111,3,3.0,3.5,8.70,0,0.52
...,...,...,...,...,...,...,...,...
323,314,107,2,2.5,4.0,8.27,0,0.72
329,324,112,4,4.0,3.5,8.77,1,0.80
331,327,113,3,3.5,3.0,8.66,1,0.80
333,308,106,3,3.5,2.5,8.21,1,0.75
334,319,108,3,3.0,3.5,8.54,1,0.71
335,312,107,4,4.5,4.0,8.65,1,0.73
336,325,111,4,4.0,4.5,9.11,1,0.83
337,319,110,3,3.0,2.5,8.79,0,0.72
339,323,108,5,4.0,4.0,8.74,1,0.81
340,324,107,5,3.5,4.0,8.66,1,0.81
341,312,107,3,3.0,3.0,8.46,1,0.75
342,326,110,3,3.5,3.5,8.76,1,0.79
343,308,106,3,3.0,3.0,8.24,0,0.58
351,318,107,3,3.0,3.5,8.27,1,0.74
352,325,110,4,3.5,4.0,8.67,1,0.73
356,317,106,2,2.0,3.5,8.12,0,0.73
357,327,109,3,3.5,4.0,8.77,1,0.79
360,321,107,2,2.0,1.5,8.44,0,0.81
361,322,110,3,4.0,5.0,8.64,1,0.85
366,330,114,4,4.5,3.0,9.17,1,0.86
372,324,110,3,3.5,3.0,9.22,1,0.89
374,321,109,3,3.0,3.0,8.54,1,0.79
383,324,110,4,4.5,4.0,9.15,1,0.82
385,340,113,4,5.0,5.0,9.74,1,0.96
390,320,108,3,3.5,4.0,8.44,1,0.76
392,318,106,3,2.0,3.0,8.65,0,0.71
393,326,112,4,4.0,3.5,9.12,1,0.84
395,329,111,4,4.5,4.0,9.23,1,0.89
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84

In [15]:
(df['toefl score'] > 105) & (df['toefl score'] < 115)

Serial No.
1      False
2       True
3      False
4       True
5      False
       ...
396     True
397     True
398    False
399    False
400    False
Name: toefl score, Length: 400, dtype: bool