In [1]:
import pandas as pd
import numpy as np

pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [2]:
pd.Timestamp(2019, 12, 20, 0, 0)

Timestamp('2019-12-20 00:00:00')

In [3]:
pd.Timestamp(2019, 12, 20, 0, 0).isoweekday()

5

In [4]:
pd.Timestamp(2019, 12, 20, 5, 2, 23).second

23

In [5]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [6]:
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

In [7]:
pd.Period('1/2016') + 5

Period('2016-06', 'M')

In [8]:
pd.Period('3/5/2016') - 2

Period('2016-03-03', 'D')

In [9]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [10]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [11]:
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), pd.Period('2016-11')])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [12]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

In [13]:
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']

ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index = d1, columns = list('ab'))
ts3

               a   b
2 June 2013   89  78
Aug 29, 2014  20  24
2015-06-26    58  75
7/12/16       80  92

In [14]:
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  89  78
2014-08-29  20  24
2015-06-26  58  75
2016-07-12  80  92

In [17]:
pd.to_datetime('4.7.12', dayfirst = True)

Timestamp('2012-07-04 00:00:00')

In [18]:
pd.Timestamp('9/3/2016') - pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [20]:
pd.Timestamp('9/3/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-15 11:10:00')

In [21]:
pd.Timestamp('9/4/2016') + pd.offsets.Week()

Timestamp('2016-09-11 00:00:00')

In [22]:
pd.Timestamp('9/4/2016') + pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

In [23]:
dates = pd.date_range('10-01-2016', periods = 9, freq = '2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [24]:
pd.date_range('10-01-2016', periods = 9, freq = 'B')

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [26]:
pd.date_range('10-01-2016', periods = 9, freq = 'QS-JUN')

DatetimeIndex(['2016-12-01', '2017-03-01', '2017-06-01', '2017-09-01',
               '2017-12-01', '2018-03-01', '2018-06-01', '2018-09-01',
               '2018-12-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [28]:
df = pd.DataFrame({'Count 1' : 100 + np.random.randint(-5, 10, 9).cumsum(),
                   'Count 2' : 120 + np.random.randint(-5, 10, 9)},
                   index = dates)
df

            Count 1  Count 2
2016-10-02      101      119
2016-10-16      107      119
2016-10-30      114      120
2016-11-13      114      129
2016-11-27      115      119
2016-12-11      112      116
2016-12-25      116      127
2017-01-08      113      124
2017-01-22      112      124

In [29]:
df.indexex.weekday_name

Index(['Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday',
       'Sunday', 'Sunday'],
      dtype='object')

In [30]:
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16      6.0      0.0
2016-10-30      7.0      1.0
2016-11-13      0.0      9.0
2016-11-27      1.0    -10.0
2016-12-11     -3.0     -3.0
2016-12-25      4.0     11.0
2017-01-08     -3.0     -3.0
2017-01-22     -1.0      0.0

In [32]:
df.resample('M').mean()

               Count 1     Count 2
2016-10-31  107.333333  119.333333
2016-11-30  114.500000  124.000000
2016-12-31  114.000000  121.500000
2017-01-31  112.500000  124.000000

In [33]:
df['2017']

            Count 1  Count 2
2017-01-08      113      124
2017-01-22      112      124

In [34]:
df['2016-12']

            Count 1  Count 2
2016-12-11      112      116
2016-12-25      116      127

In [35]:
df['2016-12' :]

            Count 1  Count 2
2016-12-11      112      116
2016-12-25      116      127
2017-01-08      113      124
2017-01-22      112      124